<h1>Create Artist</h1>
  <%= form_for @artist do |f| %>
  <h2>Artist name</h2>
  <%= f.text_field :name %><br>
  <h2>Bio</h2>
  <%= f.text_field :bio %> <br>
  <br>
  <%= f.submit "Create Artist" %>
  <% end %>
